<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload and Extract PDF</title>
    <link rel="stylesheet" href="static/styles.css"> <!-- Ensure this path matches the location of your CSS file -->
</head>
<body>
    <h2>Upload a PDF to Extract Information</h2>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf" required>
        <input type="submit" value="Upload">
    </form>

    {% if extracted_data %}
    <h3>Extraction Results</h3>
    <table>
        <tr>
            {% for category in extracted_data.keys() %}
            <th>{{ category.title() }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for key, values in extracted_data.items() %}
            <td>
                <ul>
                    {% for value in values %}
                    <li>{{ value }}</li>
                    {% endfor %}
                </ul>
            </td>
            {% endfor %}
        </tr>
    </table>
    
    <a href="{{ url_for('download_cv_data') }}" class="btn">Download Extracted Data as CSV</a>
    {% endif %}
</body>
</html>
